<%- include("partials/header.ejs") %>
        <div class="editTaskContainer">
            <div class="addItemWrapper">
                <h1>Edit your task!</h1>
                <form action="/edit" method="post">

                    <label for="description">Edit Task:</label>
                    <input type="text" class="form-control" name="description" placeholder="<%=chosenItem.description%>"/>
                
                    <label for="priority">Priority (HIGH or LOW): </label>
                    <input type="text" class="form-control" name="priority" style="text-transform: uppercase;" placeholder="<%=chosenItem.priority%>"/>
                
                    <input type="text" name="sortedDate" value="<%=sortedDate%>" hidden />
                    <input type="text" name="page" value="<%=page%>" hidden />
                    
                    <label for="deadlineDate">Deadline date:</label>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" name="deadlineDate" placeholder="<%=chosenItem.deadlineDate%>"/>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="far fa-edit edit"></i></button>
                        </div>
                    </div>
                    <input type="text" name="id" value="<%=chosenItem._id %>" hidden>
                </form>   
            </div>
        </div>