<%- include("partials/_header.ejs") %>
<body>
    <div class="wrapper">

        <div class="headerAndIcon">
            <h1>Todo-list, created by Filip Almstedt</h1>
            <img src="/images/icon.png" width="150px" height="150px" alt="icon for site" /> 
            <a class="logout" href="/logout">Click here to log out!<i class="fas fa-door-open"></i></a>
        </div>
            


        <div class="divWrapperForNewTaskAndShowList">

            <div class="addItemWrapper">
                <h2>Welcome to my Todo-list!</h2>
                <h6> Current user: <%=user%></h6>
                <%- include("addItem.ejs")%>
            </div>        

            <div class="todoListDiv">
               
                <div class="buttonDiv">
                    <h3>Sort my list by date:</h3>
                    <a href="/?page=<%=currentPage%>&&sortedDate=1"><button class="btn btn-outline-dark">Sort Date (Close to today)</button></a>
                    <a href="/?page=<%=currentPage%>&&sortedDate=-1"><button class="btn btn-outline-dark">Sort Date (Dates further away)</button></a>
                </div>

                <% for(let i=0; i<data.length; i++) { %>
                    <hr>
                    <div class="showTodoList">
                        <div class="showPrioAndDesc">
                            <h6 class="taskHeader">Task to do:</h6>
                            <h5><%= data[i].description%></h5>
                            <% if(data[i].priority == "HIGH") { %>
                                <div class="showPrioAndDeadline">
                                    <div class="priority">
                                        <p><b>Priority: </b></p>
                                        <p class="highPriority"> <%= data[i].priority%></p>
                                    </div>
                                    
                                    <div class="deadline">
                                        <p><b>Deadline:</b> <%= data[i].deadlineDate.getFullYear()%>-<%= data[i].deadlineDate.getMonth()+1%>-<%= data[i].deadlineDate.getDate()%></p>

                                        <!--Show only days-->
                                        <% if(data[i].deadlineDate.getFullYear()-date.getFullYear() == 0 && data[i].deadlineDate.getMonth()-date.getMonth() == 0 ) { %>
                                            <p><b>Time Left:</b> <%= data[i].deadlineDate.getDate()-date.getDate()%> day(s) left</p>
                                        <% } %>
                                        <!--Show month and date-->
                                        <% if(data[i].deadlineDate.getFullYear()-date.getFullYear() == 0 && data[i].deadlineDate.getMonth()-date.getMonth() !== 0) { %>
                                            <% if(data[i].deadlineDate.getDate()-date.getDate() !== 0) { %>
                                                <p><b>Time Left:</b> <%= data[i].deadlineDate.getMonth()-date.getMonth()%> Month(s) left, <%= data[i].deadlineDate.getDate()-date.getDate()%> day(s) left</p>
                                            <% } %>
                                        <% } %>
            
                                        <!--Show year, month and days-->
                                        <% if(data[i].deadlineDate.getMonth()-date.getMonth() !== 0 && data[i].deadlineDate.getFullYear()-date.getFullYear() !== 0) { %>
                                            <% if(data[i].deadlineDate.getDate()-date.getDate() !== 0) { %>
                                                <p><b>Time Left:</b> <%= data[i].deadlineDate.getFullYear()-date.getFullYear()%> Year(s) left, <%= data[i].deadlineDate.getMonth()-date.getMonth()%> Month(s) left, <%= data[i].deadlineDate.getDate()-date.getDate()%> day(s) left</p>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            <% } else {%>
                                <div class="showPrioAndDeadline">
                                    <div class="priority">
                                        <p><b>Priority: </b></p>
                                        <p class="lowPriority"> <%= data[i].priority%></p>
                                    </div>
                                    <div class="deadline">
                                        <p ><b>Deadline:</b> <%= data[i].deadlineDate.getFullYear()%>-<%= data[i].deadlineDate.getMonth()+1%>-<%= data[i].deadlineDate.getDate()%></p>

                                        <!--Show only days-->
                                        <% if(data[i].deadlineDate.getFullYear()-date.getFullYear() == 0 && data[i].deadlineDate.getMonth()-date.getMonth() == 0 ) { %>
                                            <p><b>Time Left:</b> <%= data[i].deadlineDate.getDate()-date.getDate()%> day(s) left</p>
                                        <% } %>
                                        <!--Show month and date-->
                                        <% if(data[i].deadlineDate.getFullYear()-date.getFullYear() == 0 && data[i].deadlineDate.getMonth()-date.getMonth() !== 0) { %>
                                            <% if(data[i].deadlineDate.getDate()-date.getDate() !== 0) { %>
                                                <p><b>Time Left:</b> <%= data[i].deadlineDate.getMonth()-date.getMonth()%> Month(s) left, <%= data[i].deadlineDate.getDate()-date.getDate()%> day(s) left</p>
                                            <% } %>
                                        <% } %>
            
                                        <!--Show year, month and days-->
                                        <% if(data[i].deadlineDate.getMonth()-date.getMonth() !== 0 && data[i].deadlineDate.getFullYear()-date.getFullYear() !== 0) { %>
                                            <% if(data[i].deadlineDate.getDate()-date.getDate() !== 0) { %>
                                                <p><b>Time Left:</b> <%= data[i].deadlineDate.getFullYear()-date.getFullYear()%> Year(s) left, <%= data[i].deadlineDate.getMonth()-date.getMonth()%> Month(s) left, <%= data[i].deadlineDate.getDate()-date.getDate()%> day(s) left</p>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %> 
                        </div>
                       
                        <div class="showLinksForFeatures">
                            <form action="/edit/<%= data[i]._id %>" method="GET">
                                <input type="text" name="sortedDate" value="<%=sortedDate%>" hidden />
                                <input type="text" name="page" value="<%=currentPage%>" hidden />
                                <button type="submit" class="edit"><i class="far fa-edit fa-2x"></i></button>
                            </form>
                            <form action="/delete/<%= data[i]._id %>" method="GET">
                                <input type="text" name="sortedDate" value="<%=sortedDate%>" hidden />
                                <input type="text" name="page" value="<%=currentPage%>" hidden />
                                <button type="submit" class="trashIcon"><i class="fas fa-trash-alt fa-2x"></i></button>
                            </form>

                            <!--If it's the same date, delete the task-->
                            <% if((data[i].deadlineDate.getDate()-date.getDate()) <= 0 && data[i].deadlineDate.getFullYear()-date.getFullYear() <= 0 && data[i].deadlineDate.getMonth()-date.getMonth() <= 0) { %>
                                <a href="/delete/<%= data[i]._id %>" id="timesOut"><i class="fas fa-trash-alt trashIcon fa-2x"></i></a>
                            <% } %> 
                        </div>
                                                         
                    </div>
                    <hr>
                <% } %>

                <% if(data.length >= 1) { %>
                    <div class="pagination">
                        <% if(currentPage !== 1 && previousPage !== 1) { %>
                            <a href="/?page=<%=page=1 %>&&sortedDate=<%=sortedDate%>">1</a>
                        <% } %>
                        <% if(hasPreviousPage) { %>
                            <a href="/?page=<%=previousPage %>&&sortedDate=<%=sortedDate%>"><%=previousPage %></a>
                        <% } %>
                        <a href="/?page=<%=currentPage %>&&sortedDate=<%=sortedDate%>" class="currentPage"> <%= currentPage %> </a>
                        <% if(hasNextPage) {  %>
                            <a href="/?page=<%=nextPage %>&&sortedDate=<%=sortedDate%>" > <%= nextPage %>  </a>
                        <% } %>
                        <% if(lastPage !== currentPage && nextPage !== lastPage) {  %>
                            <a href="/?page=<%=lastPage%>&&sortedDate=<%=sortedDate%>" > <%= lastPage %>  </a>
                        <% } %>
                    </div>
                <% } else {%>
                    <% if(previousPage == 0) { %>
                        <hr>
                        <h2>Empty list! Please add a task!</h2>
                    <% } %> 
                    <% if(previousPage < currentPage && previousPage !== 0) { %>
                        <hr>
                        <h2>Empty here! <a href="/?page=<%=previousPage %>&&sortedDate=<%=sortedDate%>">Go back to previous page!</a></h2>
                    <% } %> 
                <% } %> 
            </div>
        </div>

        
            
    </div>


</body>
</html>


                
                    
            
                
            
                       
      