<%- include("partials/_header.ejs") %>
<div class="loginPageContainer">
    <div class="loginForm">
        <div class="welcomeSection">
            <h1>Welcome!</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus, augue sed commodo ultrices, leo est feugiat urna, quis imperdiet mi sem at nisi. 
                Aliquam sollicitudin quam libero, vitae tempus augue bibendum iaculis. 
            </p>
        </div>
        <form action="/login" method="post">

            <% if(messages.error || messages.notify){ %>
                <h3 class="errorMessages"><%= messages.error %></h3>
                <h3 class="errorMessages"><%= messages.notify %></h3>
            <% } %>
            <input class="form-control" type="text" name="email" id="" placeholder="Email">
            <% for(let i=0; i<errors.length; i++) { %>
                <% if(errors[i].includes(' Please type in an email address!')) {  %>
                <p class="errorMessages"> <%= errors[i] %> </p>
                <% } %>
            <% } %>   

            <input class="form-control" type="password" name="password" id="" placeholder="Password">
            <% for(let i=0; i<errors.length; i++) { %>
                <% if(errors[i].includes(' Please type in a password!')) {  %>
                <p class="errorMessages"> <%= errors[i] %> </p>
                <% } %>
            <% } %>   

            <button type="submit" class="btn btn-outline-dark">Login</button>

            <span>Don't have account? </span>
            <a href="/register"> Register</a>
            <span>Forgot your password? Reset here:</span>
            <a href="/resetPassword">Forgot password?</a>

        </form>
    </div>
</div>
    